@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --cell-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'inter', Arial, Helvetica, sans-serif;
    justify-content: stretch;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: #609bf5;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 50px;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, min-content);
    grid-template-rows: min-content 150px;
    justify-content: center;
    grid-gap: 75px; */
}

.sections-container {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: center;
    grid-gap: 75px;
}

.board-cell,
.board-container {
    border: 1px solid white;
}

.board-cell,
.ships-element {
    /* cursor: pointer; */
}

.boards {
    display: grid;
    grid-template-columns: var(--cell-size) calc(var(--cell-size) * 10);
    grid-template-rows: repeat(11, var(--cell-size));
}

.row-index {
    display: grid;
    grid-template-rows: repeat(10, var(--cell-size));
    grid-row: 2 / 12;
    justify-content: center;
    justify-items: end;
    align-items: center;
    font-weight: 700;
}

.col-index {
    display: grid;
    grid-template-columns: repeat(10, var(--cell-size));
    grid-column: 2 / 3;
    justify-items: center;
    align-items: end;
    font-weight: 700;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(10, var(--cell-size));
    grid-template-rows: repeat(10, var(--cell-size));
    grid-row: 2 / 12;
    grid-column: 2 / 3;
}

.ships-element {
    background-color: rgba(0, 230, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.play-button-background {
    background-color: #524e4e;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    cursor: pointer;
    background-color: #ff0000;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.play-button:active {
    height: 40px;
    width: 40px;
    font-size: 12px;
}

.play-button,
.play-button-background {
    border-radius: 50%;
}

/* .missed-hit-div {
    background-color: gray;
    height: 50%;
    width: 50%;
    border-radius: 50px;
} */
